.section-title {
  text-align: center;
  margin: 40px 0;
  font-size: 2.2rem;
}

.formations-container {
  display: flex;
  flex-wrap: column;
  justify-content: center;
  gap: 35px;
  width: 100%;
  margin: 50px auto;
}

.formation-card {
  background: rgba(243, 232, 239, 0.754);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
  width: 800px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.formation-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card-header {
  background: linear-gradient(135deg, var(--primary-color), #5a52c2);
  color: white;
  padding: 15px;
  text-align: center;
}

.card-header h3 {
  margin: 0;
  font-size: 1.4rem;
}

.card-body {
  padding: 20px;
}

.formation-details {
  margin-bottom: 15px;
}

.formation-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.1rem;
}

.skills-list {
  font-family: var(--font-two);
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 10px 0;
}

.skill-tag {
    background: var(--light-gray);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    color: var(--text-color);
}

.project-link {
    display: inline-block;
    margin-top: 10px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.project-link:hover {
    text-decoration: underline;
}

.certificate-link {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: var(--primary-color);
    text-decoration: none;
}

.certificate-link i {
    margin-right: 8px;
}
