.portfolio{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin: 50px auto;
  box-sizing: content-box;
}

.card{
  margin: auto;
  height: 300px;
  width: 350px;
  border-radius: 20px;
  background: rgba(220, 237, 239, 0.7);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 30px;
  position: relative;
}
.card p{
  text-align: left;
}
.card i{
  font-size: 26px;
  text-align: left;
}

.card img{
  display: block;
  margin: auto;
  height: 70%;
  width: 100%;
}

.githubLink {
  font-family: var(--font-one);
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.githubLink:hover{
  color: var(--second-color);
  font-style: italic;
}
