@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Orbitron:wght@400..900&display=swap');

@import url('menu.css');
@import url('index.css');
@import url('formations.css');
@import url('competences.css');
@import url('portfolio.css');
@import url('contact.css');




:root{
  --text-color: rgb(26, 67, 105);
  --second-color: #0abdd9;
  --font-one: 'Orbitron', sans-serif;
  --font-two: 'Kode Mono', sans-serif;
  --footer-text: #7396b7;
}

html, body {
  /* min-height: 100%; */
  height: 100%;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-one);
  color: var(--text-color);
}

p{
  font-family: var(--font-two);
  color: var(--text-color);
}

body {
  position: relative;
  margin: 0px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.447),rgba(193, 206, 210, 0.602)), url(../img/abstract_blue.jpg);
  background-size: cover;        /* L’image couvre toute la page */
  background-repeat: no-repeat;  /* Empêche la répétition de l’image */
  background-position: center;   /*Centre l’image dans la fenêtre */
  background-attachment: fixed;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
main{
  widht: 90%;
}
ul li a{
  list-style-type: none;
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style-type: none;
  text-decoration: none;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}
/* a:hover {
  color: var(--second-color);
} */
/* i:hover{
  color: var(--second-color);
} */

.shadow {
  text-shadow: 4px 4px 5px rgba(61, 94, 94, 0.3);
}


.button{
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(var(--second-color), var(--text-color));
  border: var(--text-color);
  padding: 18px 18px;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 4px 4px 5px rgba(61, 94, 94, 0.3);

}

.button:hover{
  background: var(--text-color);
  transform: scale(1.08);
  transition: 0.5s ease;
}


/* ! FOOTER */

footer{
  height: 5vh;
  width: 100%;
  background: var(--text-color);
  color: var(--footer-text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-one);
  font-size: 14px;
  gap: 70px;
}
footer a{
  color: var(--footer-text);
  text-decoration: none;
  font-weight: bold;
}
footer p{
  color: var(--footer-text);
  left: 30px;
}
footer i{
  font-size: 30px;
  vertical-align: middle;
  margin-left: 10px;
  color: var(--footer-text);
}
footer img{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-left: 10px;
}




/* * MEDIA QUERIES */

@media (max-width: 1280px) {

  .button{
    font-size: 14px;
    padding: 14px 14px;
  }
  .buttons{
    gap: 20px;
  }
  .contact-reds i{
    font-size: 30px;
  }
  .contact-reds img{
    width: 30px;
    height: 30px;
  }
}


@media (max-width: 1024px) {

  .button{
    font-size: 12px;
    padding: 12px 12px;
  }
  .buttons{
    gap: 10px;
  }
  .contact-reds a {
    font-size: 14px;
  }

}

@media (max-width: 900px) {

  body{
    font-size: 15px;
  }
  .button{
    font-size: 14px;
    padding: 14px 14px;
    text-align: center;
  }
  .buttons{
    display: grid;
    align-items: center;
    gap: 20px;
  }
  .menu ul{
    font-size: 10px;
  }
  .connect{
    display: grid;
    gap: 20px;
  }
.contact-reds{
  gap: 50px;
}
.contact-reds i{
    font-size: 20px;
  }
  .contact-reds img{
    width: 20px;
    height: 20px;
  }
  .contact-reds a {
    font-size: 12px;
  }


}

@media (max-width: 645px) {
  .intro, .contact, .qualities{
    width: 85%;
  }

       /* MENU */
  nav .main_pages{
    display: none;
    flex-direction: column;
  }
  .menu ul {
    flex-direction: column;
    height: 180px;
    gap: 20px;
    font-size: 12px;
    margin: auto;
    align-items: center;
    padding: 0;
    transition: 1s ease;
  }
  nav .main_pages a {
    width: 50%;
  }
  label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 50px;
    color: var(--text-color);
    cursor: pointer;
  }
  #toggle:checked + .main_pages {
    display: flex;
  }

  /* COMPETENCES */
  .qualities{
    margin: auto;
    padding-top: 10px;
  }
  .stacks {
    display: flex;
    flex-direction: column;
  }
  .stacks li {
    padding: 10px;
  }
  .stacks li i, ul.stack li img {
    font-size: 20px;
  }
  .stacks li img {
    height: 20px;
    width: 20px;
  }
  .stacks li span {
    font-size: 15px;
  }
  .portfolio{
    display: flex;
    flex-direction: column;
  }
  .contact{
    margin: auto;
  }

  /* FOOTER */
  footer{
    gap: 20px;
    font-size: 10px;
  }
  footer i{
    font-size: 20px;
  }
  footer img{
    width: 20px;
    height: 20px;
}
}
